@tailwind base;
@tailwind components;
@tailwind utilities;
.logo{
    margin-left:40px;
    height:45px;
    width:190px;
    margin-top:3px;
    background-size:cover;
}
.orange-text {
    color: #F19837;
}
.slogan{
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    width: 100%;
    height:100%;
    padding-left:40px;
    color:white;
    font-size:4em;
    font-weight:700;
}
#getStarted{
    font-size:.5em;
    border-radius:5px;
    border:2px solid white;
    width:300px;
    text-align:center;
    margin-top:20px;
    margin-bottom:30px;
}
#getStarted:hover{
    cursor:pointer;
    background-color:rgba(255, 255, 255, 0.1);
}
#help{
    font-size:3em;
    text-align:center;
    color:white;
    background-color:black;
    padding-top:30px;
    padding-bottom:30px;
}
.logo-types{
    display:flex;
    font-size:.75em;
    letter-spacing:normal;
    width:100%;
    justify-content:space-between;
    color:white;
}
.nav{
    position: relative;
    z-index:2;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:rgb(240, 240, 240);
    height:70px;
}
.nav-links{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    color:rgb(42, 42, 42);
    margin-right:30px;
}
.link{
    margin-left:15px;
}
.Thanks{
    width:100%;
    margin-top:50px;
    text-align:center;
}
.backgroundimage{
    display:none;
    background-image:url("../public/images/hero.jpg");
    background-size:cover;
    background-position:center;
    height:50vw;
    width: 100%;
    margin-top:-50px;
    position: relative;
}

.logo{
    background-image:url("../public/images/kleinconstruction.png");
}
#long-image{
    background-image:url("../public/images/beautiful-house.png");
    background-size:cover;
    background-position:center;
    height:28vw;
    width:60vw;
    margin-left:4vw;
}
#long-textbox{
    display:flex;
    align-items:center;
    font-size:1.5em;
    height:28vw;
    width:60vw;
    margin-left:4vw;
}
#short-image{
    background-image:url("../public/images/cabnice1.webp");
    background-size:cover;
    background-position:center;
    height:28vw;
    width:28vw;
    margin-left:4vw;
}
#short-image-owners{
    background-image:url("../public/images/owners.png");
    background-size:cover;
    background-position:center;
    height:28vw;
    width:28vw;
    margin-left:4vw;
}
.grey {
    position: absolute;
    top: 78px;
    width: 50%;
    filter: grayscale(100%);
    z-index: 0;
}
.gradient{
    top: 0;
    margin-top:70px;
    position: absolute;
    background-image: linear-gradient(to right, rgba(6, 6, 6, 0.4), rgba(6, 6, 6, 0.0));
    height:50vw;
    width:100vw;
}
.background-video-container {
    width: 100vw;
    height: 50vw;
    overflow: hidden;
  }
  
  .background-video {
    width: 100vw;
    height: 50vw;
    object-fit: cover;
    object-position:center;
  }
.col-text h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.number{
    margin-top:20px;
    font-weight:bold;
}
.col-text {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    background-color:#0b0b0b;
    width:28vw;
    height:28vw;
    border:1px solid rgb(43, 43, 43);
    margin-left:4vw;
    line-height: 22px;
}
.col-text h1{
    color: rgb(151, 117, 91);
    font-weight:500;
    font-size:2em;
}
.col-text:nth-child(3) {
    border-right: none;
}
.perks{
    margin-top:50px;
    display:flex;
    margin-bottom:50px;
}
.perkBox{
    display:flex;
    flex-direction:column;
    width:28vw;
    margin-left:4vw;
}
.perkBox h3{
    margin-top:20px;
    margin-bottom:20px;
    font-size:1.5em;
}
.perkbox p{
    color:#141414;
}

.info{
    width:40vw;
}
.half{
    width:50%
}
.type{
    border:2px solid black;
    border-radius:3px;
    padding:5px;
    width:45%;
    margin:10px;
    margin-right:5%;
    margin-left:0;
}
.type2{
    border:2px solid black;
    border-radius:3px;
    padding:5px;
    width:50%;
    margin:10px;
    margin-right:0;
    margin-left:0;
}
.full{
    width:100%;
    margin-bottom:10px;
    margin-top:10px;
}
#text-area{
    border:2px solid black;
    height:100px;
    padding:8px;
}
.submit-button{
    background-color:rgb(151, 117, 91);
    width:45%;
    margin-left:55%;
    margin-top:30px;
    padding:10px;
    color:white;
    border-radius:5px;
    text-align:center;
}
.submit-button:hover{
    cursor:pointer;
    background-color:rgb(109, 84, 65);
}
.margin-right{
    margin-right:20px;
}
.contactForm{
    display:flex;
    width:90vw;
    margin-left:5vw;
    border:3px solid black;
    border-radius:10px;
    padding:50px;
}
#contact{
    font-size:2em;
}
.form{
    display:flex;
    flex-wrap:wrap;
    width:40vw;
}
.btmlnk{
    display:flex;
    height:20px;
    align-items:center;
    margin-top:15px;
}
.columns {
    padding-bottom: 50px;
    display: flex;
    background-color:black;
}
.column h2{
    font-size:2em;
    margin-top:30px;
    margin-bottom:15px;
    margin-left:4vw;
}
.columns-white {
    padding-bottom: 50px;
    display: flex;
    background-color:rgb(255, 255, 255);
}
.columns-container {
    display: flex;
    flex-direction: column;
}
.image-with-text {
    display: flex;
    border-bottom: 7px solid rgb(0, 0, 0);
}
.image-text {
    background:#141414;
    color: white;
    padding: 30px;
    position: relative;
}
.image-text h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.arrow {
    padding: 0px 15px;
    font-weight: bold;
    justify-self: flex-end;
    background:#F19837;
    color: #1D1D1D;
    border-radius: 5px;
    font-size: 30px;
    position: absolute;
    right: 40px;
    bottom: 30px;
}

.final-text {
    padding: 30px;
    width: 100%;
}
.final-text h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.final-text p {
    margin-bottom:40px;
}

.contact-icons {
    margin-top: 20px;
    display: flex;
    width: 100vw;
    margin-bottom:-30px;
    color:white;
    padding:30px;
    margin-left:-30px;
    background-color:#000000;
}
.contact-icons a {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.footer-links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 0.75em;
}

.mini-nav {
    background: black;
    color: white;
    height: 50px;
    display: flex;
}
.mini-nav div {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 15px;
    padding: 0 10px;
    margin-left: 0;
    height: 100%;
    box-sizing: border-box;
   
}
.mini-nav div:hover {
    border-top: 2px solid white;
    padding-bottom: 2px;
}
.selected-nav {
    border-top: 2px solid white;
    padding-bottom: 2px;
}
img.backgroundimage {
    border-bottom: none;
}

.header-container {
    display: flex;
    padding: 20px;
    padding-left:30px;
    margin-top:20px;
    padding-bottom:50px;
    justify-content: space-between;
}
.columns-container-service{
    display:flex;
    width:100vw;
    justify-content:space-around;
}

.servicepagesection{
    display:flex;
    justify-content: space-around;
    margin-top:30px;
    flex-direction:column;
    background-color: rgb(241, 241, 241);
    border-radius:5px;
}
.step{
    font-size:2em;
    margin-top:20px;
}
.steptext{
    font-size:1.25em;
    margin-top:15px;
    margin-bottom:10px!important;
}
.stepnumber{
    margin-top:0px;
    font-weight:600;
}
.stepemail{
    font-weight:600;
}
.stepicons{
    color:#000000;
    background-color:white;
    padding-top:0px;
}
.image-text-service{
    width:90vw;
    padding:25px;
}
.contactbutton{
    cursor:pointer;
    background-color:#de8d35;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    width:200px;
    height:30px;
    border-radius:5px;
}
.contactbutton:hover{
    background-color:#c47a2a;
}
.image-sizer{
    width:90vw;
    height:45vw;
    display:flex;
    background-size: cover;
    background-position: center;
}

.final-text{
    margin-top:5px;
}
.header-left-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    max-width: 605px;
}
.header-left-text h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.contact-nav {
    width: 35%;
    max-width:350px;
}
.contact-nav h2 {
    font-weight: bold;
    margin-bottom: 20px;
}
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: space-between
}
.image-gallery-image {
    position: relative;
    width: 30vw;
    height: 25vw;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center;
}
h1.see-more{
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}
.contact-button {
    margin-top: 20px;
    border: 2px solid #F19837;
    color: #F19837;
    padding: 5px 10px;
}
.contact-button:hover{
    color: #a86620;
    border: 2px solid #a86620;
}

.hamburger-menu{
    display:none;
}
.slogan{
    color:white;
}
@media only screen and (max-width: 1000px) {
    .columns{
        flex-direction:column;
        align-items:center;
    }
    .col-text{
        width:90vw;
        margin-bottom:30px;
        margin-left:0;
        height:auto;
        padding-bottom:30px;
    }
    #short-image{
        display:none;
    }
    #long-image{
        width:90%;
        margin-left:0;
        margin-top:-20px;
        height:35vw;
    }
    .perks{
        flex-direction:column;
    }
    .perkBox{
        width:90%;
        margin-left:5%;
    }
    .columns-white{
        flex-direction:column;
        align-items:center;
        height:auto;
    }
    .column h2{
        text-align:center;
        margin:0;
        margin-bottom:20px;
    }
    #short-image-owners{
        width:300px;
        height:300px;
        margin:0;
        margin-bottom:30px;
    }
    .column{
        display:flex;
        flex-direction:column;
        align-items:center;
        height:auto;
        width:90vw;
    }
    #long-textbox{
        height:auto;
        width:100%;
    }
    .contactForm{
        flex-direction:column;
        align-items:center;
    }
    .info{
        width:100%;
        margin-bottom:30px;
    }
    .form{
        width:100%;
    }
    .submit-button{
        width:100%;
        margin-left:0;
    }
    .backgroundimage{
        height:60vw;
    }

}











@media only screen and (max-width: 800px) {
.contactForm{
    width:100vw;
    margin-left:0;
    border:none;
}
.columns-container-service{
    flex-direction:column;
}
.backgroundimage{
    height:80vw;
}
.background-video-container {
    height: 80vw;
  }
.gradient{
    height:80vw;
}
  .background-video {
    height: 80vw;
  }
.image-text-service{
    width:100%;
}
.servicepagesection{
    margin-top:0px;
}
.image-sizer{
    width:100%;
    height:50%;
}
.header-container{
    flex-direction:column;
}
.header-left-text{
    width:100%;
    margin-bottom:20px;
}
.contact-nav{
    width:100%;
}
.image-with-text{
    flex-direction:column;
}
.image-text{
    padding-bottom:40px;
}
.arrow{
    bottom:10px;
}
.image-text-right{
    flex-direction:column-reverse;
}
.columns{
    flex-direction:column;
}

.navigation{
    display:none;
}

.hamburger-menu {
    display:block;
    position: relative;
  }
  
  .hamburger-icon {
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
  }
  
  .menu {
    display: none;
    position: absolute;
    top: 51px;
    left: -145px;
    width:200px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .menu a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
  }
  .image-gallery-image{
    width:85vw;
    height:65vw;
  }
  .menu a:hover {
    background-color: #f5f5f5;
  }
  .hamburger-menu.open .menu {
    display: block;
  }
  .contact-icons{
    flex-direction:column;
  }
}


@media only screen and (max-width: 600px) {
    .backgroundimage{
        height:100vw;
    }
    .background-video-container {
        height: 100vw;
      }
    .gradient{
        height:100vw;
    }
      .background-video {
        height: 100vw;
      }
    .slogan{
        font-size:3em;
    }
}

@media only screen and (max-width: 480px) {
    .backgroundimage{
        height:120vw;
    }
    .background-video-container {
        height: 120vw;
      }
    .gradient{
        height:120vw;
    }
      .background-video {
        height: 120vw;
      }
    .slogan{
        font-size:2.5em;
    }
    #getStarted{
        width:200px;
    }
}